@using eAgenda.WebApp.Models
@model DetalhesCategoriaViewModel
@{
    ViewBag.Titulo = $"Detalhes da Categoria: {Model.Titulo}";
}

<h4 class="mb-3">Despesas vinculadas à categoria <span class="text-warning">@Model.Titulo</span></h4>

@if (!Model.Despesas.Any())
{
    <p class="fw-semibold mt-3">Ainda não há despesas vinculadas a esta categoria.</p>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var despesa in Model.Despesas)
        {
            <div class="col">
                <div class="card mesa-card-dark h-100 border-0">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-warning">Título: @despesa.Titulo</h5>
                            <p class="card-text">Descrição: @despesa.Descricao</p>
                            <p class="card-text">Data: @despesa.DataOcorrencia.ToShortDateString()</p>
                            <p class="card-text">Valor: R$ @despesa.Valor</p>
                            <p class="card-text">Forma de Pagamento: @despesa.FormaPagamento</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
