@using eAgenda.WebApp.Models
@model VisualizarCategoriasViewModel

@{
    ViewBag.Titulo = "Visualização de Categorias";
}

<div class="d-grid d-lg-flex flex-wrap gap-2 w-50 align-items-center">
    <a class="btn btn-primary px-5" title="Nova Categoria" asp-action="Cadastrar">
        <i class="bi bi-folder-plus me-2"></i>
        Cadastrar Novo/a
    </a>
</div>
<hr class="border border-dark opacity-25" />
<div class="row g-2">
    @if (!Model.Registros.Any())
    {
        <p class="fw-semibold mt-3">Ainda não há nenhuma categoria cadastrada...</p>
    }
    else
    {
        @foreach (var item in Model.Registros)
        {
			<div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-3">
                <div class="card rounded-4 border-0">
                    <div class="card-body">
						<div class="d-flex justify-content-between align-items-start">
                            <h4 class="card-title mb-1 fw-semibold text-truncate overflow-hidden text-nowrap" style="max-width: 70%;" title="@item.Titulo">
                                @item.Titulo
                            </h4>
                        </div>
                        <p class="card-text mb-1">
                            <span class="fw-semibold">Despesas:</span> @item.Despesas.Count
                        </p>
						<span class="d-flex gap-1 justify-content-end">
                            <a class="btn btn-primary rounded-circle" title="Ver Despesas" asp-action="Despesas" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a class="btn btn-primary rounded-circle" title="Editar Despesa" asp-action="Editar" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-danger rounded-circle" title="Excluir Despesa" asp-action="Excluir" asp-route-id="@item.Id">
                                <i class="bi bi-folder-x"></i>
                            </a>
						</span>
                    </div>
                </div>
            </div>
        }
    }
</div>
