@using eAgenda.Dominio.ModuloTarefa
@using eAgenda.WebApp.Extensions
@model DetalhesTarefaViewModel

@{
    ViewBag.Titulo = "Detalhes da Tarefa";
    bool mostrarScroll = Model.Itens.Count > 6;
}

<hr class="border border-dark opacity-25" />
<div class="d-flex flex-wrap justify-content-between mt-5 gap-1">
    <div class="col-12 col-md-6 col-lg-4 align-self-center m-auto">
        <div class="card">
            <div class="card-body d-flex flex-column gap-2 position-relative">
                <div class="task-title text-truncate overflow-hidden text-nowrap" style="max-width: 72%;" title="@Model.Titulo">
                    <span class="fw-bold fs-4">@Model.Titulo</span>
                </div>
                <div class="task-dates d-grid position-absolute end-0 me-3">
                    <span><i class="bi bi-calendar-plus" title="Data de criação"></i> @Model.DataCriacao.ToShortDateString()</span>
                    @if (Model.Status == StatusTarefa.Concluida && Model.DataConclusao != DateTime.MinValue)
                    {
                        <span><i class="bi bi-calendar-check" title="Data de conclusão"></i> @Model.DataConclusao?.ToShortDateString()</span>
                    }
                </div>
                <div class="task-priority">
                    <span class="fw-semibold">Prioridade:</span> @Model.Prioridade
                </div>
                <div class="task-status">
                    <span class="fw-semibold">Status:</span> @Model.Status.GetDisplayName()
                </div>
                <a class="btn btn-primary rounded-circle position-absolute top-0 end-0 me-3" style="margin-top: 6rem; margin-bottom: auto;" title="Editar Tarefa" asp-action="Editar" asp-route-id="@Model.Id" asp-route-contexto="Detalhes">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <div class="task-description mt-3">
                    <span class="fw-semibold">Descrição</span>
                    <div class="descricao-box">      
                        @if (!string.IsNullOrWhiteSpace(Model.Descricao))
                        {
                            <span class="span-wrapper lh-sm">@Model.Descricao</span>
                        }
                        else
                        {
                            <span class="fw-semibold">Nenhuma descrição definida.</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7 mb-3">
        <div class="card rounded-3">
            <div class="card-body d-flex flex-column gap-2">
                <span class="fw-semibold fs-3">Itens</span>
                <div class="@(mostrarScroll ? "table-responsive" : "")" style="@(mostrarScroll ? "" : "overflow: visible; max-height: none;")">
                    <table class="table table-wrapper table-hover">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">Título</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ItemTarefaViewModel item in Model.Itens)
                            {
                                <tr class="table-light">
                                    <td>@item.Titulo</td>
                                    <td>@item.Status.GetDisplayName()</td>
                                    <td>
                                        @if (item.Status == StatusItemTarefa.EmAndamento)
                                        {
                                            <form class="d-inline" action="/tarefas/@Model.Id/concluir-item/@item.Id" method="post">
                                                <button type="submit" class="btn-icon-acao">
                                                    <i class="bi bi-check-circle text-success fs-4"></i>
                                                </button>
                                            </form>
                                        }
                                        else if (item.Status == StatusItemTarefa.Concluido)
                                        {
                                            <form class="d-inline" action="/tarefas/@Model.Id/reabrir-item/@item.Id" method="post">
                                                <button type="submit" class="btn-icon-acao">
                                                    <i class="bi bi-arrow-clockwise text-primary fs-4"></i>
                                                </button>
                                            </form>
                                        }
                                        <form class="d-inline ms-1" action="/tarefas/@Model.Id/remover-item/@item.Id?contexto=Detalhes" method="post">
                                            <button type="submit" class="btn-icon-acao">
                                                <i class="bi bi-x-circle text-danger fs-4"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (!Model.Itens.Any())
                {
                    <p class="fw-semibold mt-3">
                        Ainda não há nenhum item para esta tarefa...
                        <a class="btn btn-primary rounded-circle me-auto" title="Gerenciar Itens" asp-action="GerenciarItens" asp-route-id="@Model.Id">
                            <i class="bi bi-list-check"></i>
                        </a>
                    </p>
            
                }
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center flex-wrap align-items-center my-4 gap-3 px-3">
    <div class="me-3">
        <a href="/tarefas" class="btn btn-outline-primary rounded-3 px-3">Voltar</a>
    </div>
    <div class="d-flex gap-2 flex-column align-items-center">
        @if ((Model.Status == StatusTarefa.EmAndamento || Model.Status == StatusTarefa.Pendente) && Model.Itens.Any(i => i.Status == StatusItemTarefa.EmAndamento))
        {
            <form class="d-flex align-items-center ms-1" action="/tarefas/@Model.Id/concluir-tarefa" method="post">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-all fs-5"></i>Concluir Tarefa
                </button>
            </form>
        }
        else if ((Model.Status == StatusTarefa.Concluida || Model.Status == StatusTarefa.Cancelada) && Model.Itens.All(i => i.Status == StatusItemTarefa.Concluido || i.Status == StatusItemTarefa.Cancelado))
        {
            <form class="d-inline ms-1" action="/tarefas/@Model.Id/reabrir-tarefa" method="post">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-all fs-5"></i>Reabrir Tarefa
                </button>
            </form>
        }
        @if ((Model.Status != StatusTarefa.Concluida && Model.Status != StatusTarefa.Cancelada) && Model.Itens.All(i => i.Status != StatusItemTarefa.Concluido || i.Status != StatusItemTarefa.Cancelado))
        {
            <form class="d-inline ms-1" action="/tarefas/@Model.Id/cancelar-tarefa" method="post">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="bi bi-x fs-6"></i>Cancelar Tarefa
                </button>
            </form>
        }
    </div>
</div>